:local {
    .display {
        position: relative;
        display: block;
        padding: 12px;
        width: 92%;
        margin: 0px auto;
        font-size: 30px;
        box-shadow: 0px 0px 12px black inset;
        text-align: right;
        background: #a6f383;
    }
}